<h4 class="sidebar-heading"><a href="/docs/">Docs</a></h4>
<ul class="list-unstyled">
    <li><a href="{{ relref . "docs/introduction.md" }}">Introduction</a></li>
    <li><a href="{{ relref . "docs/quickstart.md" }}">Quickstart</a></li>
    <li><a href="{{ relref . "docs/configuration.md" }}">Configuration</a></li>
</ul>
<ul class="list-unstyled">
    <li><a href="{{ relref . "docs/collectors/index.md" }}">Collectors</a></li>
    <li><a href="{{ relref . "docs/actors/index.md" }}">Actors</a></li>
</ul>

<h5 class="sidebar-heading">Dependencies</h5>
<ul class="list-unstyled">
    <li><a href="{{ relref . "docs/dependencies/python.md" }}">Python</a></li>
    <li><a href="{{ relref . "docs/dependencies/js.md" }}">Javascript</a></li>
    <li><a href="{{ relref . "docs/dependencies/ruby.md" }}">Ruby</a></li>
    <li><a href="{{ relref . "docs/dependencies/php.md" }}">PHP</a></li>
    <li><a href="{{ relref . "docs/dependencies/git.md" }}">Git</a></li>
    <li><a href="{{ relref . "docs/collectors/dockerfile.md" }}">Docker</a></li>
    <li>Java <span class="badge badge-secondary">coming soon</span></li>
    <li>Go <span class="badge badge-secondary">coming soon</span></li>
    <li>Rust <span class="badge badge-secondary">coming soon</span></li>
    <li>iOS <span class="badge badge-secondary">coming soon</span></li>
    <li>Android <span class="badge badge-secondary">coming soon</span></li>
    <li>.NET <span class="badge badge-secondary">coming soon</span></li>
</ul>

<h5 class="sidebar-heading">dependencies.yml</h5>
<ul class="list-unstyled">
    <li><a href="{{ relref . "docs/dependencies-yml/version-filtering.md" }}">Version filtering</a></li>
    <li><a href="{{ relref . "docs/dependencies-yml/dependency-filtering.md" }}">Dependency filtering</a></li>
</ul>


<h5 class="sidebar-heading">Build</h5>
<ul class="list-unstyled">
    <li><a href="{{ relref . "docs/build/start.md" }}">Where to start</a></li>
    <li><a href="{{ relref . "docs/build/collectors.md" }}">Collectors</a></li>
    <li><a href="{{ relref . "docs/build/actors.md" }}">Actors</a></li>
    <li><a href="{{ relref . "docs/build/schema.md" }}">JSON schema</a></li>
    <li><a href="{{ relref . "docs/build/env.md" }}">Environment</a></li>
    <li>
        <a href="{{ relref . "docs/build/cli/index.md" }}">CLI</a>
        <ul>
            <li><a href="{{ relref . "docs/build/cli/testing.md" }}">Testing</a></li>
        </ul>
    </li>
</ul>
