.btn-lg {
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 1px;
}

.navbar {
    border-bottom: 1px solid #ccc;

    .navbar-brand {
        line-height: 25px;
        font-family: 'Fira Mono', monospace;

        img {
            margin-top: 0;
            margin-right: -2px;
        }
    }
}

.coming-soon {
    .logo {
        max-height: 300px;
        margin: 50px 0;
    }
}

.gray-section {
    overflow: auto;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    background: #F9F9FB;
}

.blue-section {
    overflow: auto;
    background: theme-color("primary");
    color: $gray-100;
    p a {
        color: white;
        text-decoration: underline;
    }
}

.step {
    background-color: $blue-dark;
    color: $white;
    padding: .25rem .5rem;
    line-height: 1.5;
}

.page-header {
    background: linear-gradient($blue-dark, lighten($blue-dark, 5%));
    color: $white;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.supporting-logos {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    background: #F9F9FB;
    padding-top: 2rem;
    padding-bottom: 1rem;

    a {
        margin: 0 1rem;
        &:hover {
            img { opacity: 1; }
        }
    }
    img {
        max-height: 40px;
        margin-bottom: 1rem;
        opacity: .9;
    }
}

.extra-spacing {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.example-title {
    font-weight: $font-weight-bold;
    img {
        max-height: 40px;
        margin-bottom: .5rem;
    }
}

.example-config {
    &::before {
        content: "dependencies.yml";
        background-color: $gray-300;
        color: $gray-700;
        font-size: .7rem;
        font-family: $font-family-monospace;
        display: block;
        padding: .5rem .75rem;
        border: 1px solid $gray-400;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
}

.features {
    background-color: hsla(199, 77%, 99%, 1);

    h5 {
        font-family: $font-family-sans-serif;
        font-weight: 400;
    }
    p {
        font-size: .8rem;
    }
    .fa {
        float: left;
        height: 100%;
        font-size: 1.5rem;
        margin-left: -2.5rem;
        margin-right: .5rem;
        color: $blue-light;
    }
    .col-sm-4 {
        padding-right: 3rem;
    }
}

.pricing-container {
    li {
        margin-bottom: .3rem;
    }
}

.faq {
    margin-top: 2rem;
    .faq-question {
        color: $blue-dark;
        font-weight: bold;
    }
}

.footer-container {
    background: linear-gradient($blue-darker, lighten($blue-darker, 3%));
    box-shadow: inset 0 10px 10px -5px darken($blue-darker, 10%);
    .list-heading {
        color: lighten($blue-dark, 15%);
    }

    .logo {
        opacity: 1;
        max-height: 30px;
    }
}

.docs-sidebar {
    margin-top: 7rem;
}
.docs-content {
    margin-top: 5rem;

    p {
        max-width: 700px;  // reading length
    }

    h1, h2, h3 {
        margin-bottom: 1rem;
    }
    h2 {
        margin-top: 3rem;
    }
    h3 {
        margin-top: 2rem;
    }
    h4, h5, h6 {
        margin-top: 1.5rem;
    }

    a > img { margin-top: 0; }
}

.docs-content-footer {
    color: $gray-700;
    font-size: .8rem;
}

.dependency-type-choice {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 180px;
    margin-bottom: 2rem;
    font-family: $font-family-monospace;
    font-size: .9rem;
    font-weight: $font-weight-bold;

    &:hover {
        border-color: $blue-dark;
        color: $blue-dark;
        text-decoration: none;
    }

    .img-container {
        flex-grow: 1;
        margin-left: auto;
        margin-right: auto;
        display: flex;

        img {
            margin: 0;
            align-self: center;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
    }
}
